@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

/* Components */
@import "../CSS/components/slider.css";
@import "../CSS/components/accordion.css";

/* General Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2em;
}

/* Header bar styling */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 30px;
  border-bottom: 0.5px lightgray solid;
}

.header-container_left {
  display: flex;
  align-items: center;
}

.header-container_right {
  display: flex;
  align-items: center;
}

/* Logo & Icons */

#logo {
  width: 250px;
  padding-left: 25px;
}

.fa-icon {
  height: 3.5vh;
  cursor: pointer;
}

#hamburger-icon {
  display: block;
  height: 5vh;
}

#times-icon {
  display: none;
  height: 4.5vh;
  margin-right: 0.6vw;
}

#search-icon {
  height: 3.5vh;
  margin-top: 2px;
}

#shopping-cart-icon {
  height: 4vh;
  margin-left: 20px;
}

/* Mobile Menu */

.mobile-menu-container {
  width: 100vw;
  display: none;
}

/* Media queries for responsive design */

@media only screen and (max-width: 400px) {
  .header-container {
    height: 8vh;
  }
  .swiper-container {
    height: 35vh;
  }
  #logo {
    width: 140px;
  }

  .times-icon {
    padding-right: 0;
  }

  #hamburger-icon {
    display: block;
    height: 4vh;
    height: 2.5vh;
  }

  #times-icon {
    display: none;
    height: 5vw;
    margin-right: 1px;
  }

  #search-icon {
    height: 2.5vh;
    margin-top: 2px;
  }

  #shopping-cart-icon {
    height: 3vh;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .swiper-container {
    height: 60vh;
  }

  #hamburger-icon {
    display: block;
    height: 5vh;
  }

  #times-icon {
    display: none;
    height: 4.5vh;
    margin-right: 0.4vw;
  }

  #search-icon {
    height: 3vh;
  }

  #shopping-cart-icon {
    height: 3.5vh;
    margin-left: 20px;
  }
}
