/* Accordion Menu */

.accordion-container {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.accordion-item__header_1,
.accordion-item__header_2 {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 10vw;
  border-bottom: 0.5px lightgray solid;
  margin-bottom: 0px;
}

.accordion-arrow {
  width: 3vw;
}

.arrow-up_1 {
  display: none;
}

.arrow-up_2 {
  display: none;
}

.arrow-down_1 {
  display: block;
}

.arrow-down_2 {
  display: block;
}

.accordion-items_1 {
  display: none;
}

.accordion-items_2 {
  display: none;
}

.accordion-item {
  display: flex;
  padding: 2.5vh 15vw;
  font-size: 2vw;
  justify-content: space-between;
  align-items: center;
}

.accordion-item:last-child {
  border-bottom: 0.5px lightgray solid;
}

.product-count {
  color: gray;
}
