/* Slider menu */

.swiper-container {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  border-bottom: 0.5px lightgray solid;
}

.swiper-container_inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 170%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  pointer-events: none;
  transition: 0s ease;
}

.swiper-container_inner__item {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: bisque;
  padding: 20px;
  color: white;
  font-size: 3vw;
  letter-spacing: 0.04em;
}

.swiper-container_item__header {
  position: absolute;
  bottom: 4vh;
  left: 4vw;
}

#background-img_1 {
  background: linear-gradient(
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0.4)
    ),
    url("../../assets/images/StoxEnergy_1.jpeg");
  background-size: cover;
  background-position: center;
}

#background-img_2 {
  background: linear-gradient(
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0.4)
    ),
    url("../../assets/images/StoxEnergy_2.jpeg");
  background-size: cover;
  background-position: center;
}

#background-img_3 {
  background: linear-gradient(
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0.4)
    ),
    url("../../assets/images/StoxEnergy_3.jpeg");
  background-size: cover;
  background-position: center;
}

#background-img_4 {
  background: linear-gradient(
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0.4)
    ),
    url("../../assets/images/StoxEnergy_4.jpeg");
  background-size: cover;
  background-position: center;
}
